brian/n8n/AI Agent - UI with summary.md.json
{
  "nodes": [
    {
      "parameters": {
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "72e11d8e-f210-4567-84fd-ea44bb661fa1",
      "name": "Serve UI (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -64,
        16
      ],
      "webhookId": "ui-webhook"
    },
    {
      "parameters": {
        "jsCode": "const html = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>n8n Agent UI</title>\n  <style>\n    :root {\n      --bg-color: #121212;\n      --chat-bg: #1e1e1e;\n      --user-msg: #ea4b71; /* n8n brand color */\n      --bot-msg: #2d2d2d;\n      --text-color: #e0e0e0;\n    }\n    body { margin: 0; font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif; background: var(--bg-color); color: var(--text-color); display: flex; justify-content: center; height: 100vh; }\n    .chat-container { width: 100%; max-width: 600px; background: var(--chat-bg); display: flex; flex-direction: column; height: 100%; box-shadow: 0 0 20px rgba(0,0,0,0.5); }\n    .header { padding: 20px; border-bottom: 1px solid #333; font-weight: bold; display: flex; align-items: center; gap: 10px; }\n    .header-dot { width: 10px; height: 10px; background: #2ecc71; border-radius: 50%; }\n    .messages { flex: 1; overflow-y: auto; padding: 20px; display: flex; flex-direction: column; gap: 15px; }\n    .message { max-width: 80%; padding: 12px 16px; border-radius: 12px; line-height: 1.4; font-size: 15px; }\n    .message.user { align-self: flex-end; background: var(--user-msg); color: white; border-bottom-right-radius: 2px; }\n    .message.bot { align-self: flex-start; background: var(--bot-msg); color: var(--text-color); border-bottom-left-radius: 2px; }\n    .input-area { padding: 20px; border-top: 1px solid #333; display: flex; gap: 10px; }\n    input { flex: 1; padding: 12px; border-radius: 8px; border: 1px solid #444; background: #2d2d2d; color: white; outline: none; transition: border-color 0.2s; }\n    input:focus { border-color: var(--user-msg); }\n    button { padding: 12px 24px; border-radius: 8px; border: none; background: var(--user-msg); color: white; font-weight: bold; cursor: pointer; transition: opacity 0.2s; }\n    button:hover { opacity: 0.9; }\n    button:disabled { opacity: 0.5; cursor: not-allowed; }\n    .typing { font-size: 12px; color: #888; margin-left: 10px; display: none; }\n  </style>\n</head>\n<body>\n  <div class=\"chat-container\">\n    <div class=\"header\"><div class=\"header-dot\"></div>n8n Agent</div>\n    <div class=\"messages\" id=\"messages\">\n      <div class=\"message bot\">Hello! I am your n8n assistant. How can I help?</div>\n    </div>\n    <div class=\"typing\" id=\"typing\">Agent is thinking...</div>\n    <form class=\"input-area\" id=\"chat-form\">\n      <input type=\"text\" id=\"input\" placeholder=\"Type a message...\" autocomplete=\"off\" />\n      <button type=\"submit\" id=\"send-btn\">Send</button>\n    </form>\n  </div>\n\n  <script>\n    const form = document.getElementById('chat-form');\n    const input = document.getElementById('input');\n    const messages = document.getElementById('messages');\n    const typing = document.getElementById('typing');\n    const sendBtn = document.getElementById('send-btn');\n\n    // ROBUST URL DETECTION\n    // Calculates the API URL relative to the current page\n    const currentPath = window.location.pathname;\n    const basePath = currentPath.substring(0, currentPath.lastIndexOf('/'));\n    const API_URL = window.location.origin + basePath + '/chat-response';\n\n    function addMessage(text, sender) {\n      const div = document.createElement('div');\n      // Escaped backticks for nested template literal\n      div.className = `message ${sender}`;\n      div.textContent = text;\n      messages.appendChild(div);\n      messages.scrollTop = messages.scrollHeight;\n    }\n\n    form.addEventListener('submit', async (e) => {\n      e.preventDefault();\n      const text = input.value.trim();\n      if (!text) return;\n\n      addMessage(text, 'user');\n      input.value = '';\n      input.disabled = true;\n      sendBtn.disabled = true;\n      typing.style.display = 'block';\n\n      try {\n        const response = await fetch(API_URL, {\n          method: 'POST',\n          headers: { 'Content-Type': 'application/json' },\n          body: JSON.stringify({ message: text })\n        });\n        \n        const data = await response.json();\n        typing.style.display = 'none';\n        addMessage(data.output || \"No response defined in n8n.\", 'bot');\n        \n      } catch (err) {\n        typing.style.display = 'none';\n        addMessage(\"Error: Could not connect to n8n.\", 'bot');\n        console.error(err);\n      } finally {\n        input.disabled = false;\n        sendBtn.disabled = false;\n        input.focus();\n      }\n    });\n  </script>\n</body>\n</html>\n`;\n\nreturn { html };"
      },
      "id": "38c987ac-4ad0-4fe2-bc79-00e6d67ff2e6",
      "name": "Define HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        16
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "id": "69586898-f9d3-4923-89f0-e4f1d1b17591",
      "name": "Respond HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        384,
        16
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $env.MEMORY_PATH }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "id": "395457b6-fbe0-4e6d-8f75-ffa7c762390e",
      "name": "Read Local File (UTF8)",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -832,
        608
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:latest",
          "mode": "list",
          "cachedResultName": "llama3.2:latest"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a File Updater.\nTask: Update the \"Current File\" based on the \"User Input\".\n\n### STRICT OUTPUT RULES:\n1. Output ONLY the updated file content.\n2. Do NOT output headers like \"### FILE CONTENT\" or \"### NEW FILE CONTENT\".\n3. Do NOT output <think> tags.\n4. **Standardize Entries**:\n   - Turn \"class tmr 9am\" into \"- Tomorrow 9am: Class\"\n   - Turn \"gym tonight\" into \"- Today Evening: Gym\"\n\n### DATA:\n[Current File]\n{{ $json.data || '' }}\n\n[User Input]\n{{ $('Receive Msg (POST)1').item.json.body.message }}\n\n### RESPONSE (The Updated File Only):"
            },
            {
              "content": "=Please be reminder the exact date and time now is:\n {{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3638c31a-91ea-4eda-9775-5ac9a7837ce4",
      "name": "Memory Updater",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -512,
        1072
      ],
      "credentials": {
        "ollamaApi": {
          "id": "LxwLnK44WhXGJW2k",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-response",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d48ca2bb-6be9-407e-89ad-99272969d41f",
      "name": "Receive Msg (POST)1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1088,
        608
      ],
      "webhookId": "msg-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Convert the AI's text answer into a binary file object for n8n\nconst textContent = items[0].json.content || \"\";\nconst binaryData = Buffer.from(textContent).toString('base64');\n\nreturn {\n  json: { success: true },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'text/markdown',\n      fileName: 'summary.md'\n    }\n  }\n};"
      },
      "id": "81ebc090-6566-4fea-88cd-4bb6662b5568",
      "name": "Convert to File1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        1072
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $env.MEMORY_PATH }}",
        "options": {
          "append": true
        }
      },
      "id": "273ba633-13be-4bfc-a278-f3ba619ece57",
      "name": "Save Summary1",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -64,
        1072
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -288,
        512
      ],
      "id": "12893dd5-1801-45f1-b834-6d953a416d16",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "content": "AI agent after receiving the message",
        "height": 1104,
        "width": 3120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1168,
        352
      ],
      "typeVersion": 1,
      "id": "ee7bf918-3dda-4692-8f95-43e713fc0a83",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Host the UI",
        "height": 224,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -80
      ],
      "typeVersion": 1,
      "id": "bfd7bc6e-3904-4bc9-88bd-d13ec47b8ec1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a strict routing system. Your ONLY job is to classify the complexity of the user's input.\n\nYou must output exactly ONE of the following three tokens:\n1. Simple\n2. Hard\n\n### Rules:\n- Output NOTHING else. No explanations, no punctuation, no markdown.\n- If the input is a factual lookup or formatting task -> Output \"Simple\"\n- If the input requires reasoning, math, coding, or multi-step logic -> Output \"Hard\"\n\n### User Input:\n{{ $('Receive Msg (POST)1').item.json.body.message }}\n"
      },
      "id": "1f877ae6-c8d2-46b6-b39f-08ab82e28b1f",
      "name": "Classifier Agent",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        464,
        608
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "9be364b0-f35c-4dcd-b8c2-67ed3bc8a659",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Simple",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "52843313-7117-47a1-8841-06daa8c65c76",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Hard",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "9bf7d2f8-9d58-4b19-b408-78919de8ff4e",
      "name": "Complexity Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        832,
        592
      ]
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        608,
        816
      ],
      "id": "d8955e61-0073-41d3-b0ac-ed3f2505e6c8",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "LxwLnK44WhXGJW2k",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:latest",
          "mode": "list",
          "cachedResultName": "llama3.2:latest"
        },
        "messages": {
          "values": [
            {
              "content": "==You are a helpful AI assistant with access to the user's calendar, documents, and web search capabilities.\n\n**Current Context:**\n- Date & Time: {{ $now.toFormat('EEEE, MMMM d, yyyy, h:mm a') }} (Hong Kong Time, UTC+8)\n- Today: {{ $now.toFormat('MMMM d, yyyy') }}\n- This year: {{ $now.year }}\n\n**Instructions:**\n1. Use the User Profile below to understand the user's schedule, projects, preferences, and context\n2. Answer naturally and conversationally - don't explicitly mention \"according to your profile\" unless directly relevant\n3. For time-sensitive queries (e.g., \"today\", \"this week\", \"next month\"), use the current date/time above\n4. When interpreting dates without year (e.g., \"21/2\", \"Feb 21\"), assume year {{ $now.year }}\n5. Prioritize using available tools (calendar, documents, web search) over general knowledge when answering\n\n**User Profile:**\n{{ $('Extract from File').item.json.data || 'No profile data available yet.' }}\n\n**User Query:**\n{{ $('Receive Msg (POST)1').item.json.body.message }}\n\n---\nProvide a helpful, accurate, and contextually relevant response based on the user's query and profile.\n"
            },
            {
              "content": "=Please be reminder the exact date and time now is:\n {{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "02be997e-f802-4963-bee8-10fc4879fcae",
      "name": "Chat Agent2",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1088,
        560
      ],
      "credentials": {
        "ollamaApi": {
          "id": "LxwLnK44WhXGJW2k",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "ef312c65-9e36-40f4-9de4-9c593f4936fe",
      "name": "Respond to UI2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1536,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    output: items[0].json.content\n  }\n};"
      },
      "id": "e5394e0f-383f-4ec3-8740-ee0a86fc9b72",
      "name": "Format Response2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        560
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Create an event in Google Calendar based on the user requests:\n {{ $('Receive Msg (POST)1').item.json.body.message }}",
        "calendar": {
          "__rl": true,
          "value": "hobrian2004@gmail.com",
          "mode": "list",
          "cachedResultName": "hobrian2004@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        992,
        752
      ],
      "id": "0a4c1fb9-c23f-4eb1-b7ca-388dc34c2df5",
      "name": "Create an event in Google Calendar2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "gjBs35TfACT2BGOI",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "qwen3:8b",
          "mode": "list",
          "cachedResultName": "qwen3:8b"
        },
        "messages": {
          "values": [
            {
              "content": "==You are a helpful AI assistant with access to the user's calendar, documents, and web search capabilities.\n\n**Current Context:**\n- Date & Time: {{ $now.toFormat('EEEE, MMMM d, yyyy, h:mm a') }} (Hong Kong Time, UTC+8)\n- Today: {{ $now.toFormat('MMMM d, yyyy') }}\n- This year: {{ $now.year }}\n\n**Instructions:**\n1. Use the User Profile below to understand the user's schedule, projects, preferences, and context\n2. Answer naturally and conversationally - don't explicitly mention \"according to your profile\" unless directly relevant\n3. For time-sensitive queries (e.g., \"today\", \"this week\", \"next month\"), use the current date/time above\n4. When interpreting dates without year (e.g., \"21/2\", \"Feb 21\"), assume year {{ $now.year }}\n5. Prioritize using available tools (calendar, documents, web search) over general knowledge when answering\n\n**User Profile:**\n{{ $('Extract from File').item.json.data || 'No profile data available yet.' }}\n\n**User Query:**\n{{ $('Receive Msg (POST)1').item.json.body.message }}\n\n---\nProvide a helpful, accurate, and contextually relevant response based on the user's query and profile.\n"
            },
            {
              "content": "=Please be reminder the exact date and time now is:\n {{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "67394a18-f8bf-4b1e-bcba-88a8886fadd7",
      "name": "Chat Agent3",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1088,
        1008
      ],
      "credentials": {
        "ollamaApi": {
          "id": "LxwLnK44WhXGJW2k",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "8677349f-ceb2-406e-b440-5d1867915667",
      "name": "Respond to UI3",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1536,
        1008
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    output: items[0].json.content\n  }\n};"
      },
      "id": "0e1a1f21-3b24-42c8-b2f8-199493faa108",
      "name": "Format Response3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        1008
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Create an event in Google Calendar based on the user requests:\n {{ $('Receive Msg (POST)1').item.json.body.message }}",
        "calendar": {
          "__rl": true,
          "value": "hobrian2004@gmail.com",
          "mode": "list",
          "cachedResultName": "hobrian2004@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1184,
        1216
      ],
      "id": "c7cc255e-e6a2-49a9-b336-47ba8c991b71",
      "name": "Create an event in Google Calendar3",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "gjBs35TfACT2BGOI",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1280,
        752
      ],
      "id": "58ea37ab-9733-467d-9cda-d6a3c98f7314",
      "name": "Get a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "RcWkGEGb4SuOK4Cu",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1424,
        752
      ],
      "id": "0acdfb9f-2994-46e3-9fa3-bbe5cd0ea60a",
      "name": "Update a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "RcWkGEGb4SuOK4Cu",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1472,
        1216
      ],
      "id": "1702c334-a814-4397-a610-811e124867a7",
      "name": "Get a document in Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "RcWkGEGb4SuOK4Cu",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        1632,
        1200
      ],
      "id": "abf4c814-8281-4da4-95c7-6af52f6a3b91",
      "name": "Update a document in Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "RcWkGEGb4SuOK4Cu",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        1584,
        752
      ],
      "id": "8f169040-7efd-47e6-b297-9361d8bc335a",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "estEg4lIrb06ExPJ",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        1808,
        1232
      ],
      "id": "fe998f58-5ef5-4a16-8612-74d00041adf9",
      "name": "Search in Tavily1",
      "credentials": {
        "tavilyApi": {
          "id": "estEg4lIrb06ExPJ",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=FInd an event in Google Calendar based on user's request:\n {{ $('Receive Msg (POST)1').item.json.body.message }}",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "hobrian2004@gmail.com",
          "mode": "list",
          "cachedResultName": "hobrian2004@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1136,
        752
      ],
      "id": "9b99bdc9-c2a1-4f1d-b9c9-4a302164ee55",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "gjBs35TfACT2BGOI",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=FInd an event in Google Calendar based on user's request:\n {{ $('Receive Msg (POST)1').item.json.body.message }}",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "hobrian2004@gmail.com",
          "mode": "list",
          "cachedResultName": "hobrian2004@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1312,
        1216
      ],
      "id": "67688763-e54c-49d1-aeb9-138cfd021be1",
      "name": "Get many events in Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "gjBs35TfACT2BGOI",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "connections": {
    "Serve UI (GET)": {
      "main": [
        [
          {
            "node": "Define HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define HTML": {
      "main": [
        [
          {
            "node": "Respond HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Local File (UTF8)": {
      "main": [
        [
          {
            "node": "Memory Updater",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory Updater": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Msg (POST)1": {
      "main": [
        [
          {
            "node": "Read Local File (UTF8)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Save Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Classifier Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classifier Agent": {
      "main": [
        [
          {
            "node": "Complexity Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complexity Switch": {
      "main": [
        [
          {
            "node": "Chat Agent2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classifier Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Agent2": {
      "main": [
        [
          {
            "node": "Format Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to UI2": {
      "main": [
        []
      ]
    },
    "Format Response2": {
      "main": [
        [
          {
            "node": "Respond to UI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar2": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Agent3": {
      "main": [
        [
          {
            "node": "Format Response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response3": {
      "main": [
        [
          {
            "node": "Respond to UI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar3": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs1": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a document in Google Docs1": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily1": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bece01e17653611451518fe49e24b76be4a7dd799bc675ccb15e6ca44a1eb7c9"
  }
}